{% extends 'base.html.twig' %}

{% block body %}

<h1> Ajouter une ecole</h1>
<form action="{{path('save_ecole')}}" method="post">
<input type="text" name="nom" id="nom"/></br>
<input type="text" name="adressse" id="adresse"/></br>
<input type="text" name="logo" id="logo"/></br>
<input type="submit" value="Enregistrer" name="ok"/>
</form>

<a href="{{path('logout')}}"> Logout</a>
{% endblock %}
