{% extends 'base2.html.twig' %}

{% block body %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="panel panel-default panel-border-color panel-border-color-primary">
  <div class="panel-heading panel-heading-divider"><span class="panel-subtitle"></span></div>
  <div class="panel-body">
    <form action="#" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
      <div class="form-group">
        <label class="col-sm-3 control-label">Nom</label>
        <div class="col-sm-4">
          <input type="text" name="nom" placeholder="nom" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Adresse</label>
        <div class="col-sm-4">
          <input type="text" name="adresse" placeholder="adresse" class="form-control">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="container">
    <div class="row clearfix">
    <div class="col-md-12 column">
      <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
          <tr >
            <th class="text-center">
              #
            </th>
            <th class="text-center">
              Cycle
            </th>
            <th class="text-center">
              Niveau
            </th>
          
          </tr>
        </thead>
        <tbody>
          <tr id='addr0'>
            <td>
            1
            </td>
            <td>
            
             <select type="text" name='Cycle'  placeholder='Cycle' class="form-control">
                      <option value"Maternelle">Maternelle</option>
                        <option value"Primaire">Primaire</option>
                        <option value"Secondaire">Secondaire</option>
                </select>
            </td>
            <td>
            <select type="text" name='Niveau' placeholder='Niveau' class="form-control"/>
            <optgroup label="Maternelle">
                 <option value "PS">PS- MS -GS </option>
            </optgroup>
            <optgroup label="Primaire">
              <option value "CP CE1 CE2 CM1 CM2"> CP- CE1- CE2- CM1- CM2 </option>
            </optgroup>
             <optgroup label="Secondaire">
              <option value "CP CE1 CE2 CM1 CM2"> CP- CE1- CE2- CM1- CM2 </option>
            </optgroup>           
                </select>
            </td>
          </tr>
          <tr id='addr1'></tr>
        </tbody>
      </table>
    </div>
  </div>
  <a id="add_row" class="btn btn-default pull-left">Ajouter</a><a id='delete_row' class="pull-right btn btn-default">Supprimer</a>
</div>
 <style type="text/css">
.ce_btn_elv{
  border:none;
  background: transparent;
  margin-left: 570px;
}
</style>
          <div class="row">
            <div class="form-group xs-pt-10">
              <div class="icon-container col-sm-3">
                <button class="ce_btn_elv" type="submit"><div class="icon"><span class="mdi mdi-check"></span></div><span class="icon-class"> Valider </span></button>
              </div>
<script type="text/javascript">
     $(document).ready(function(){
      var i=1;
     $("#add_row").click(function(){
      $('#addr'+i).html("<td>"+ (i+1) +"</td><td><select name='Cycle'  placeholder='Cycle' class='form-control'><option value='Matrenelle'>Maternelle</option><option value='Primaire'>Primaire</option><option value='Secondaire'>Secondaire</option></select></td><td><select name='Niveau'  placeholder='Niveau' class='form-control'><optgroup label='Maternelle'><option value 'PS'>PS- MS -GS </option></optgroup><optgroup label='Primaire'><option value 'CP CE1 CE2 CM1 CM2'>CP- CE1- CE2- CM1- CM2</option></optgroup><optgroup label='Secondaire'><option value 'CP CE1 CE2 CM1 CM2'>CP- CE1- CE2- CM1- CM2</option></optgroup></select></td>");

      $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      i++; 
  });
     $("#delete_row").click(function(){
       if(i>1){
     $("#addr"+(i-1)).html('');
     i--;
     }
   });

});</script>
{% endblock %}