{% extends 'base.html.twig' %}

{% block body %}
          <h1 class="text-center">Gestion élèves</h1>
            <div class="container">
              <table style="width:90%;">
                <tr style="height: 290px;">
                  <div class="row">
                  <td>
                      <div>
                       <a href="{{path('eleve2')}}"><button class="btn btn-space btn-primary btn-big" style="width: 50%; height: 170px;margin-left:200px;font-size:17px;"><i class="icon mdi mdi-assignment-account"></i><br> Gestion d'inscription </button></a>
                      </div>
                    </td><td>
                    <div>
                     <a href="{{path('servsco')}}"><button class="btn btn-space btn-default btn-big" style="width: 80%; height: 170px;font-size:17px;"><i class="icon mdi mdi-view-web"></i> <br>Services scolaires </button></a>
                    </div>
                    </td>
                  </div>
                </tr>
                <tr  style="height: 290px;">
                  <div class="row">
                  <td>
                    <div>
                      <a href="{{path('mobilite')}}"><button class="btn btn-space btn-danger btn-big"  style="width: 50%; height: 170px;margin-left:200px;font-size:17px;"><i class="icon mdi mdi-view-dashboard"></i> <br> Mobilité élèves</button></a>
                    </div>
                  </td>
                  <td>
                    <div>
                    <a href="{{path('registreINS')}}">  <button class="btn btn-space btn-warning btn-big"  style="width: 80%; height: 170px;font-size:17px;"><i class="icon mdi mdi-assignment"></i> <br>Registre des inscriptions </button></a>  
                    </div>
                  </td>
                  
                  </div>
                </tr>
              </table>
            </div>
          </div>
 {% endblock %}        