{% extends 'base.html.twig' %}

{% block body %}
          <h1 class="text-center">Gestion élèves</h1>
            <div class="container">
              <table style="width:90%;">
                <tr style="height: 290px;">
                  <div class="row">
                  <td>
                      <div>
                       <a href="{{path('Ficheseleve')}}"><button class="btn btn-space btn-primary btn-big" style="width: 50%; height: 170px;margin-left:100px;font-size:17px;"><i class="icon mdi mdi-assignment-account"></i><br> Départ</button></a>
                      </div>
                    </td><td>
                    <div>
                     <a href="{{path('Listedepart')}}"> <button class="btn btn-space btn-default btn-big" style="width: 120%; height: 170px;font-size:17px;"><i class="icon mdi mdi-view-web"></i> <br>Liste des départ/arrivés </button></a>
                    </div>
                    </td>
                  </div>
                </tr>
                <tr  style="height: 290px;">
                  <div class="row">
                  <td>
                    <div>
                      <a href="page3.html"><button class="btn btn-space btn-danger btn-big"  style="width: 50%; height: 170px;margin-left:400px;font-size:17px;"><i class="icon mdi mdi-view-dashboard"></i> <br> synthèse sur la mobilité</button></a>
                    </div>
                  </td>
                
                  
                  </div>
                </tr>
              </table>
            </div>
          </div>
{% endblock %} 