{% extends 'base.html.twig' %}

{% block body %}
          <h1 class="text-center"> Paramétrage </h1><br>
            <div class="container">
              <table style="width:90%">
                <tr style="height: 190px">
                  <div class="row">
                    <td>
                      <div>
                        <button class="btn btn-space btn-primary btn-big"  style="width: 83%; height: 170px;margin-left:60px;font-size:20px;"> Etablissement </button>  
                      </div>
                    </td><td>
                      <div>
                        <a href="eleve1.html"><button class="btn btn-space btn-success btn-big" style="width: 90%; height: 170px;margin-left:60px;font-size:20px;"> Année scolaire </button></a>
                      </div>
                    </td><td>
                    <div>
                      <button class="btn btn-space btn-default btn-big" style="width: 93%; height: 170px;margin-left:60px;font-size:20px;"> Utilisateurs</button>
                    </div>
                    </td>
                  </div>
                </tr>
                <tr  style="height: 190px">
                  <div class="row">
                  <td>
                    <div>
                      <a href="page3.html"><button class="btn btn-space btn-warning btn-big"  style="width: 83%; height: 170px;margin-left:60px;font-size:20px;">Structure scolaire </button></a>
                    </div>
                  </td>
                  <td>
                    <div>
                      <button class="btn btn-space btn-danger btn-big"  style="width: 90%; height: 170px;margin-left:60px;font-size:20px;"> Matières </button>  
                    </div>
                  </td>
                  <td>
                    <div>
                         <button class="btn btn-space btn-primary btn-big"  style="width: 93%; height: 170px;margin-left:60px;font-size:20px;">Enseignants  </button>
                    </div>
                  </td>
                  </div>
                </tr>
                  </div>
                </tr>
              </table>
            </div>
          </div>
 {% endblock %}