{% extends 'base2.html.twig' %}

{% block body %}
          <h3 class="text-center"></h3>
           
           <div class="form-group">
    
                   <p class="xs-mt-10 xs-mb-10">
                  <a href="{{path('transportVCL')}}">  <button class="btn btn-rounded btn-space btn-warning" style="font-size:17px;width:155px;"> Parc véhicules</button></a>
                  <a href="{{path('transportAFF')}}">  <button class="btn btn-rounded btn-space btn-success"style="font-size:17px;width:170px;">Affectation élèves</button></a>
                  <a href="{{path('transportCSL')}}">  <button class="btn btn-rounded btn-space btn-danger"style="font-size:17px;width:155px;"></i> Consultation</button></a>
                  <a href="{{path('transportEDT')}}">  <button class="btn btn-rounded btn-space btn-primary"style="font-size:17px;width:155px;"></i> Edition Listes</button></a>
                    <button class="btn btn-rounded btn-space btn-default"style="font-size:17px;width:155px;"> Synthèse</button>
                  </p>
                      </div>
                    </div>
            <div class="form-group">
            <div class="icon-container">
            <label class="col-sm-2 control-label"  style= "font-size:16px;"for="textinput">Rechercher fiche élève :</label>
            <div class="col-sm-8">
              <input type="text" placeholder="Rechercher" class="form-control">
            </div>
                
                        <div class="icon"><span class="mdi mdi-search"></span></div><span class="icon-class"></span>
                      </div>
                    </div>
                  
                
            <!--Default Tabs-->
            <div class="col-sm-12">

              <div class="panel panel-default">

                <div class="panel-heading"></div>

                <div class="tab-container">
             
                  <div class="tab-content">
                    <div id="tous" class="tab-pane active cont">
                      
                  <table id="table1" class="table table-striped table-hover table-fw-widget">
                    
                    <thead>
                  <tr>
                         <th></th>
                        <th>N° de paiement</th>
                        <th>Nom et prenom</th>
                        <th>Nom et prenom (fr)</th>
                        <th>Genre</th>
                        <th>Niveau scolaire</th>
                        <th>Classe</th>
                        <th>Adresse</th>
                        <th>Véhicule</th>
                        <th></th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd gradeX">
                        <td><input id="check6" type="checkbox" checked="">
                          <label for="check6"></label></td>
                        <td>302187</td>
                        <td>أمقران هدى </td>
                        <td>Amakrane houda</td>
                        <td>Fille</td>
                        <td>3° année Primaire Général</td>
                        <td></td>
                        <td>xxxxxxxxxx</td>
                        <td>V1</td>
                        <td><a href="ecole v3.html">Fiche élève</a></td>
                      </tr>
                      </tbody>
                      <tbody>
                      <tr class="odd gradeX">
                        <td><input id="check6" type="checkbox" checked="">
                          <label for="check6"></label></td>
                        <td>78965</td>
                        <td>XXXXXX </td>
                        <td>YYYYYYYY</td>
                        <td>Garçon</td>
                        <td>3ere année Primaire Général</td>
                        <td></td>
                        <td>xxxxxxxxxx</td>
                        <td>V2</td>
                        <td><a href="ecole v3.html">Fiche élève</a></td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                    <div class="row">
                      <div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="table1_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="table1_previous"><a href="#" aria-controls="table1" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="table1" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="table1" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="table1_next"><a href="#" aria-controls="table1" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div>
                    </div>
{% endblock %}         