{% extends 'base2.html.twig' %}

{% block body %}
           <div class="row">
      <a class="btn btn-default loading">Cantine scolaire</a>
      <a class="btn btn-default loading"> Garde des élèves</a>
      <a class="btn btn-default loading">Atelier de langue</a>
      
    </div>
        </div>
{% endblock %}     