<html>
<head>
<title>Register</title>
</head>
<body>
<form action="" method="post">
<label> Name : </label>
<input name="name " id="name " type="text" /> </br>
<label> Email : </label>
<input name="email " id="email " type="text" /></br>
<label> Login : </label>
<input name="username " id="username " type="text" /></br>
<label> Password : </label>
<input name="plainPassword" id="plainPassword" type="password"  /></br>

<input name="ok" id="ok" type="submit" value="Register!"/>
</form>
</body>

</html>